test/resources/test_docs/wadl_bad.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://research.sun.com/wadl/2006/10"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://research.sun.com/wadl/2006/10 https://wadl.dev.java.net/wadl20061109.xsd">
	
	<doc title="ixLogic REST API v2"/>
	
	<resources base="http://ixlogic/api/rest/v2">
		
		<resource pathl="rulesets" id="com.ics360.ixlogic.api.rest.v2.resources.RulesetsCollectionResource">
			
			<method name="GET">
				<request>
					<param name="Authorization" style="header" required="true"/>
				</request>
				<response>
					<representation mediaType="application/xhtml+xml">
						<!-- TODO: Consider making this representation a table -->
						<doc>Includes a create form.</doc>
					</representation>
				</response>
			</method>
			
			<method name="POST">
				<request>
					<param name="Authorization" style="header" required="true"/>
					<representation mediaType="application/vnd.ics360.ixlogic.ruleset+xml"/>
				</request>
				
				<response>
					<param name="Location" style="header"/>
					<representation status="201" mediaType="application/vnd.ics360.ixlogic.ruleset+xml"/>
				</response>
			</method>
			
			<resource path="{rulesetId}" id="com.ics360.ixlogic.api.rest.v2.resources.RulesetItemResource">
				
				<method name="GET">
					<request>
						<param name="Authorization" style="header" required="true"/>
					</request>
					<response>
						<representation mediaType="application/xhtml+xml">
							<doc>Includes an edit form.</doc>
						</representation>
						<representation mediaType="application/vnd.ics360.ixlogic.ruleset+xml"/>
					</response>
				</method>
				
				<method name="PUT">
					<request>
						<param name="Authorization" style="header" required="true"/>
						<representation mediaType="application/vnd.ics360.ixlogic.ruleset+xml"/>
					</request>
					
					<response>
						<representation mediaType="application/vnd.ics360.ixlogic.ruleset+xml"/>
					</response>
				</method>
				
				<method name="DELETE">
					<request>
						<param name="Authorization" style="header" required="true"/>
					</request>
					<response>
						<representation status="204"/>
					</response>
				</method>
				
			</resource>
			
		</resource>
		
		<resource path="evaluator" id="com.ics360.ixlogic.api.rest.v2.resources.EvaluatorResource">
			<method name="POST">
				<doc>Used to evaluate this ruleset against a dataset.</doc>
				
				<request>
					<param name="Authorization" style="header" required="true"/>
					<representation mediaType="application/x-www-form-urlencoded">
						<doc>In addition to the required "rulesetID" parameter, which can be specified 1-n times,
							this representation	should include other parameters, which will be treated as inputs for the ruleset evaluation.</doc>
						<param name="rulesetId" style="plain" required="true" repeating="true"/>
					</representation>
				</request>
				
				<response>
					<param name="Location" style="header"/>
					<representation status="201" mediaType="application/vnd.ics360.ixlogic.evaluation+xml"/>
				</response>
				
				<response status="400">
				</response>
			</method>
		</resource>
				
		<resource path="evaluations" id="com.ics360.ixlogic.api.rest.v2.resources.EvaluationsCollectionResource">
			
			<method name="GET">
				<request>
					<param name="Authorization" style="header" required="true"/>
					<!-- TODO: ADD STANDARD PAGING PARAMETERS -->
					<param name="before" style="query" required="false" type="xs:dateTime"/>
					<param name="after" style="query" required="false" type="xs:dateTime"/>
					<param name="fieldValueContains" style="query" required="false" type="xs:string"/>
					<param name="result" style="query" required="false" type="xs:boolean">
						<option value="true"/>
						<option value="false"/>
						<option value="error"/>
					</param>
					<param name="rulesetId" style="query" required="false" type="xs:string"/>
				</request>
				<response>
					<!-- TODO: ADD STANDARD PAGING PARAMETERS -->
					<representation mediaType="application/xhtml+xml">
						<!-- TODO: Consider making this representation a table -->
					</representation>
				</response>
			</method>
			
			<resource path="{evaluationId}" id="com.ics360.ixlogic.api.rest.v2.resources.EvaluationItemResource">
				
				<method name="GET">
					<request>
						<param name="Authorization" style="header" required="true"/>
					</request>
					<response>
						<representation mediaType="application/vnd.ics360.ixlogic.evaluation+xml"/>
					</response>
				</method>
				
			</resource>
						
		</resource>	
		
	</resources>
	
</application>